.AuthButton{
    background-color: rgb(65, 67, 66);
       
    color: white;
    padding: 10px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.iconStyle {
  width: 20px;
  height: 20px;
}

.pageIcon {
  width: 40px;
  height: 40px;
}

.box-shadow{
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}



.btn-submit {
  background-color: #89d235 !important;
  color: white !important;
  border-radius: 20px !important;
  border: none !important;
  transition: all 0.3s ease;
}


.btn-submit:hover {
  background-color: #7dbf31 !important;
  color: white !important;
  border-color: white !important;
  transform: scale(1.05);
}

.btn-error {
  background-color: #e0496a !important;
  color: white !important;
  border-radius: 20px !important;
  border: none !important;
  transition: all 0.3s ease;
}


.btn-error:hover {
  background-color: #e11c47 !important;
  color: white !important;
  border-color: white !important;
  transform: scale(1.05);
}


