@font-face {
  font-family: "Outfit-Reg";
  src: url("./assets/Fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/Fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/Fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #1c2939;
  /* --secondary-color: #4D55CC; */
  /* --third-color: #7A73D1; */
  /* --background-color: #B5A8D5; */

  /* --text-primary: #1C2939; */
  /* --text-secondary: #7A73D1; */

  --text-white: #ffffff;
   --text-black: #000000;


  --error-bg: #ff7575;
    --error-hover-bg: #f84444;
 /* 89d235 */
/* 7dbf31  */
  --success-bg: #2490be ;
  --success-hover-bg: #1b8bbb;

  --menu-hover-bg: #344153;
  --menu-selected-bg: #657d9f;

   --light-selected:#a2db47;
   --font-family-reg-outfit:"Outfit-Reg"
}

/* colors */
/* 104d5d */

h1,p,div {
  font-family: var(--font-family-reg-outfit);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 53379C */

.ant-layout-sider.custom-sider {
  background-color: var(--primary-color) !important;
}

.ant-layout-sider.custom-sider .ant-menu {
  background-color: var(--primary-color) !important;
  color: var(--text-white) !important;
}

.ant-layout-sider.custom-sider .ant-menu-item {
  color: var(--text-white) !important;
}

.ant-layout-sider.custom-sider .ant-menu-item:hover {
  background-color: var(--menu-hover-bg) !important;
  color: var(--text-white) !important;
}

.ant-layout-sider.custom-sider .ant-menu-item-selected {
  background-color: var(--menu-selected-bg) !important;
  color: var(--text-white) !important;
}

.ant-layout-sider.custom-sider .ant-menu-item .anticon {
  color: var(--text-white) !important;
}



/*  active pagination */
.ant-pagination-item-active {
  border-radius: 50% !important;
  border: none !important;
  background-color: var(--primary-color) !important;
  color:var(--text-white) !important;
  font-weight: bold;
}

/* circle */
.ant-pagination-item {
  width: 10px !important;
  height: 30px !important;
  /* line-height: 34px !important; */
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


